<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMIZEE.Notification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TRACE_BASEFILENAME" value="SMIZEE.Notification.{0}.LOG" />
    <add key="TRACE_FILELOCKDELAY" value="5000" />
    <add key="TRACE_FILENAMEFORMATER" value="yyyyMMdd" />
    <add key="TRACE_FILEPATH" value="D:\Work\SMIZEE\SMIZEE\Logs\" />
    <add key="TRACE_LEVEL" value="4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <SMIZEE.Notification.Properties.Settings>
      <setting name="NewFormsAlarmInterval" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="NotificationTypeName" serializeAs="String">
        <value>SF.Expand.Notification.SmtpService, NotificationSmptService</value>
      </setting>
      <setting name="NotificationParams" serializeAs="String">
        <value>smtp.gmail.com;587;softfinanca.hb@gmail.com;softfinanca.hb@gmail.com;_softfinanca_;EnableSsl</value>
      </setting>
      <setting name="NotificationSubject" serializeAs="String">
        <value>Sistema de Monitorização de Indicadores ZEE</value>
      </setting>
      <setting name="NotificationMessage" serializeAs="String">
        <value>Vimos por esta forma informar que o utilizar {0} com a empresa {1}, tem disponível o seguinte formulário para preenchimento :{2} - {3} </value>
      </setting>
      <setting name="LateFormsAlarmInterval" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="ReferenceStartDate" serializeAs="String">
        <value>2012-01-01</value>
      </setting>
      <setting name="LateNotificationMessage" serializeAs="String">
        <value>Vimos por esta forma informar que o utilizar {0} com a empresa {1}, tem em atraso o seguinte formulário para preenchimento :{2} - {3} </value>
      </setting>
    </SMIZEE.Notification.Properties.Settings>
  </applicationSettings>

  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlserver2008;Initial Catalog=SMIZEE.Auth;User=sa;Password=sapwd" />
    <add name="DataContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlserver2008;Initial Catalog=SMIZEE;User=sa;Password=sapwd;" />
  </connectionStrings>

</configuration>